.container.about {
    padding: 100px;
}

.about>.about_img {
    float: left;
    position: relative;
    width: 41%;
    padding-right: 15px;
    padding-left: 15px;
}

.about_img>.hero_image {
    position: relative;
    padding: 0 0 0 30px;
    margin-bottom: 30px;
}
.hero_image>.hero_img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.about>.about_content {
    display: inline-block;
    float:left;
    width: 58%;
    padding-right: 15px;
    padding-left: 15px;
}
.about_content>.content {
    margin-bottom: 30px;
}
.content>.about_me {
    font-weight: 800;
    margin-bottom: 5px;
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0 0 5px;
    color: #343434;
}
.content>.sub_title {
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: #999999;
}
.content>.about_text {
    font-size: 16px;
    font-family: sans-serif;
    color: #748182;
    margin-top: 20px;
    line-height: 1.6;
}