.container.blog {
    background-color: #f7f7f7;
    padding: 80px 0;
}
.row.blog {
    width: 100%;
    overflow: hidden;
    z-index: 0;
    height: 590px;
}
.rowBlog{
    height:420px;
    width: 0px;
    transition: 1s;
    /* margin-left: -380px; */
}
.row.blog>.blog-head {
    margin-bottom: 80px;
    text-align: center;
}
.slides{
    width:100%;
    text-align: center;
}
.blog-head>h3 {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    font-family: "Montserrat";
    color: #343434;
    z-index: 1;
}  


    .blog-head>h3:after {
        content: '';
        background-image: url(../img/dots.png);
        width: 100%;
        height: 30px;
        background-repeat: repeat;
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: -1;
}

/* Blog
================== */


.row.blog >.item {
    /* display: none; */
    width: 352px;
    float: left;
    height: 410px;
    margin-right: 20px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block; 
}

.row.blog .item>.content {
    position: relative;
    background-color: #f7f7f7;
    padding: 30px 15px;
}

.row.blog .item>img {
    position: relative;
    width: 100%;
    display: block;
    height: 220px;
    transition: transform .5s ease;
}
.row.blog .item>img:hover{
    position: relative;
    display: block;
    overflow: hidden;
    transform: scale(1.2);
}

.row.blog .item>.content>.tag {
    margin-bottom: 12px;
}

.row.blog .item>.content>.tag>a {
    text-decoration: none;
    color: #888;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
}

.row.blog .item>.content>h4 {
    margin-bottom: 15px;
    line-height: 1.6;
}
.row.blog .item>.content>h4>a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: #343434;
    font-family: "Montserrat";
}


.row.blog .item>.content>.more>a {
    font-size: 15px;
    display: inline-block;
    color: #343434;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Poppins";
    text-decoration: none;
    border-bottom: solid 2px #333;
}

/* dots 
====================*/


.blog .fa-circle{
    color: #d6d6d6;
    width: 14px;
    height: 5px;
    margin: 5px 7px;
    margin-top: 20px;
    font-weight: 400;
    transition: color 06 ease;
    cursor: pointer;
}




.blog .active, .fa-circle:hover {
    color: #717171;
}

/* .blog .fa-circle.active {
    color: #717171;
} */




.blog_dot>.dot:hover {
    background-color: #717171;
}

@media (max-width: 1200px) {
    .row.blog .item {
       width: 270px;
    }
}

@media (max-width: 1000px) {
    .container.blog {
        padding: 50px 0;
    }
    .row.blog .item {
        width: 360px;
        text-align: center;
    }
    .row.blog .item>img {
        position: relative;
        width: 100%;
        height: 250px;
        
    }
}
@media (max-width: 800px) {
    .container.blog {
        padding: 50px 0;
    }
    .row.blog .item {
        width: 300px;
        text-align: center;
    }
    .row.blog .item>img {
        position: relative;
        width: 100%;
        height: 200px;
        
    }
}

@media (max-width: 650px) {
    .row.blog .item {
        position: relative;
        width: 580px;
        height: 600px;
        text-align: center;
    }
    .row.blog .item>img {
        position: relative;
        width: 100%;
        height: 450px;
        
    }
}

@media (max-width: 580px) {
    .row.blog .item {
        position: relative;
        width: 500px;
        height: 550px;
        text-align: center;
    }
    .row.blog .item>img {
        position: relative;
        width: 100%;
        height: 400px;
        
    }
}