.container.blog {
    background-color: #F7F7F7;
}

.container>.row.blog {
    padding: 80px 0;
}
.blog>.our_blog {
        margin-bottom: 80px;
        text-align: center;
}
.blog>.our_blog>h3 {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

/* carousel
===================== */

.blog>.owl-carousel {
    width: 100%;
    display: block;
    position: relative;
}
.owl-carousel>.owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-stage {
    position: relative;
}

.owl-carousel .owl-item {
    position: relative;
    float: left;
    min-height: 1px;
    width: 303px;  
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}


/* dots 
====================*/

.row.blog>.owl-dots {
    position: relative;
    display: inline-block;
    zoom: 1;
    margin-top: 10px;
    text-align: center;
    
}
.owl-dots>.owl-dot {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border-radius: 30px;
    background: #d6d6d6;
    display: inline-block;
    zoom: 1;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
}