.row.clients {
    text-align: center;
    height: 625px;
    background-color: #F7F7F7;
    grid-column: 1 / 4;
}
.slideArea{
    margin:auto;
    width:80%;
    overflow: hidden;
}
.renderClients {
    height:350px;
    width:99999px;
    /* margin-left: 280px; */
    /* transform: translate(31%, 0px); */
    cursor: grab;
    transition: 1s;
}

.clientSlide {
    float: left;
    width: 1250px;
    height: 300px;
    transition: 1s;
}
.clientSlide p {
    margin: auto;;
    width:50%;
}
.testimonials>h1 {
    display: inline-block;
    width: 300px;
    color: rgb(52,52,52);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 40px;
    transform: translate(10px, 0px);
    font-weight: 900;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;
}
.testimonials h1::after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.nav {
    height: 10px;
    width: 102%;
    text-align: center;
    position: absolute;
    transform: translate(0%, -70px);
}

.testimonials {
    display: inline-block;
    width: 100%;
    height: 625px;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
}
.alex {
    width: 90px;
    height: 90px;
    border-radius: 40px;
    margin-bottom: 18px;
    margin-left: calc(50% - 49px);
}
.testimonials .clientSlide>p:first-of-type {
    margin-bottom: 30px;
    width: 850px;
    word-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #7C8889;
}
.testimonials .clientSlide>h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.testimonials .clientSlide>p:last-of-type {
    font-size: 14px;
    font-weight: 600;
    color: #7C8889;
}
.clients .nav .fa {
    margin: 5px 7px;
    color: #D6D6D6;
}
.clients .nav .fa:hover {
    color: #869791;
    cursor: pointer;
}

/* didejanciu skaiciuku dalies pradzia */


.row.clientNumbers {
    display: inline-block;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.clientNumbers .clientIcon {
    font-size: 30px;
    margin-top: 110px;
    margin-bottom: 15px;
}
.clientNumbers p {
    font-size: 15px;
    font-weight: 600;
    color: #7C8889;
    margin-top: 15px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
.clientNumbers .counter{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.clientNumbers>.happyCustomers {
    display: inline-block;
    width: 1fr;
    margin-right: 140px;
    margin-left: 70px;
    text-align: center;
}
.clientNumbers>.completeProjects {
    display: inline-block;
    width: 1fr;
    margin-right: 140px;
    text-align: center;
}
.clientNumbers>.linesOfCode {
    display: inline-block;
    width: 1fr;
    margin-right: 140px;
    text-align: center;
}
.clientNumbers>.filesDownloaded {
    display: inline-block;
    width: 1fr;
    text-align: center;
}

@media only screen and (max-width: 1300px) {

    .clientSlide {
        float: left;
        width: 1100px;
        height: 300px;
        transition: 1s;
    }
    .testimonials>h1 {
    margin-left: 60px;
    }
    .nav {
       margin-left: 23px;

    }
    .clientNumbers>.happyCustomers {
        width: 25%;
        margin: 0px 10px 0px -20px;
    }
    .clientNumbers>.completeProjects {
        width: 25%;
        margin: 0px 10px 0px -20px;
    }
    .clientNumbers>.linesOfCode {
        width: 25%;
        margin: 0px 20px 0px -20px;
    }
    .clientNumbers>.filesDownloaded {
        width: 25%;
        margin: 0px -20px;
    }
}
@media only screen and (max-width: 1200px) {

    .clientSlide {
        width: 1000px;
        transition: 0.1;
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(0%, -50px);
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 700px;
    }
}
@media only screen and (max-width: 1100px) {

    .clientSlide {
        width: 900px;
    }
    .nav {
       margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .clientSlide {
        width: 800px;
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 600px;
    }
}

@media only screen and (max-width: 900px) {

    .clientSlide {
        width: 700px;
    }
    .nav {
       margin-bottom: 30px;
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 500px;
    }

    .clientNumbers {
        height: 850px;
    }
    .clientNumbers>.happyCustomers {
        width: 100%;
        height: 150px;
        margin: 10px 20px;
    }
    .clientNumbers>.completeProjects {
        width: 100%;
        height: 150px;
        margin: 10px 20px;
    }
    .clientNumbers>.linesOfCode {
        width: 100%;
        height: 150px;
        margin: 10px 20px;
    }
    .clientNumbers>.filesDownloaded {
        width: 100%;
        height: 150px;
        margin: 10px 20px;
    }
}
@media only screen and (max-width: 900px) {

    .clientSlide {
        width: 700px;
        transform: translate(-50px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-50px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-60px, -45px);
    }
}

@media only screen and (max-width: 800px) {

    .clientSlide {
        width: 610px;
        transform: translate(-50px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-60px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-60px, -45px);
    }
}
@media only screen and (max-width: 700px) {
    
    .clientSlide {
        width: 610px;
        transform: translate(-60px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-35px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-40px, -30px);
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 400px;
    }
}
@media only screen and (max-width: 610px) {
    
    .clientSlide {
        width: 560px;
        transform: translate(-60px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-30px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-30px, -0px);
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 350px;
    }
}

@media only screen and (max-width: 560px) {
  
    .clientSlide {
        width: 480px;
        transform: translate(-60px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-50px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-60px, 0px);
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 350px;
    }
}
@media only screen and (max-width: 450px) {
  
    .clientSlide {
        width: 330px;
        transform: translate(-20px, 0px);
    }
    .testimonials>h1 {
        transform: translate(-40px, 0px);
    }
    .nav {
       margin-bottom: 30px;
       transform: translate(-40px, 10px);
    }
    .testimonials .clientSlide>p:first-of-type {
        width: 300px;
    }
}
