.contact>h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    font-weight: 900px;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 900;
}

.contact>.renderedDiv>.contact-row {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-left: 65px;
    margin-bottom: 50px;
}
.contact>.renderedDiv>.contact-row:hover .fa {
    background-color: black;
    color: white;
}
.contact>.renderedDiv>.contact-row>.fa {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all .5s;
}

.contact>.renderedDiv>.contact-row>h2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #343434;
    font-family: "Montserrat";
    font-weight: 700;
}

.contact>.renderedDiv>.contact-row>p {
    font-size: 15px;
    color: #81888D;
    font-family: "Poppins";
    font-weight: 400;
}
.contact>.form {
    display: inline-block;
}
.contact>.form>.form-name {
    display: inline-block;
    width: 450px;
    margin-left: 65px;
}
.contact>.form>.form-email {
    display: inline-block;
    width: 450px;
    margin-left: 30px;
}
.contact>.form>.form-name>input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.contact>.form>.form-email>input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.contact>.form-group {
    display: inline-block;
    width: 400px;
    height: 100px;
    margin-left: 65px;
    margin-top: 15px;

}
.contact>.form-group>#form_message {
    width: 935px;
    max-width: 935px;
    height: 150px;
    max-height: 150px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.contact>.btn {
    width: 120px;
    height: 40px;
    background: #1c1c1c;
    color: #eee;
    cursor: pointer;
    padding: 10px 40px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all .5s;
    margin-left: 65px;
    margin-top: 70px;
    margin-bottom: 80px;
}
.contact>.btn:hover {
    background: #eee;
    color: #1c1c1c;
}