.container>header {
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 40px;
    width: 1140px;
    background: #ebe7e7;
    /* istrint atsidarus fonui */
}

.container:first-child {
    background: #ebe8e8;
    /* istrint atsidarus fonui */
    top: 0;
    left: 0;
    right: 0;
}

.container>header a,
.container>header p {
    text-decoration: none;
    color: #ffffff;
}

.container>header>a {
    float: left;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.container>header>nav p {
    float: right;
    font-size: 16px;
    margin-left: 45px;
    display: block;
    cursor: pointer;
}