html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
}

.container>header {
    grid-column: 2 / 3;
}


/* Savo conteinerio nustatymai, pagrinde spalvos, zemiau pvz.*/


/* 
.container.home {
    background: black;
} */


/* Sitas bendras, neliesti */

.container>.row {
    grid-column: 2 / 3;
    min-height: 10px;
}


/* row.pasirinktas_kazkas, zemiau pvz. */


/* .row.home {
    background: grey;
    min-height: 500px;
} */