.portfolio {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}
img {
    width: 293px;
    height: 244px;
    

}
    .mb-50 {
    margin-bottom: 50px !important;
    font-size: 16px;
    margin: 0px 15px;
}
    .text-center {
    text-align: center;
}

