.portfolio {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}
img {
    width: 293px;
    height: 244px;
    margin: 10px;
}
    .text-center {
    text-align: center;
}
    .filtering {
        color: #222;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
        z-index: 2;
        margin-bottom: 50px;
}