.galerija {
    width: 25%;
    height: 25%;
    margin: 10px;
}
    .filter-buttons {
        color: #222;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 50px;
}
    .works {
    display: inline-block;
    text-align: center;
    padding: 50px 0px;
}
.portf {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 80px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.row>.works>.filter-buttons {
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 50px;
}
.row>.filter-buttons>span {
    display: inline-block;
    justify-content: center;
    margin: 0 18px;
    position: relative;
    color: #222;
    cursor: pointer;
    font-weight: 600;
}

